h1{
    color:blue;
}

body{
    background-color: pink;
}

table{
    color:red;
    background-color: black;
    border-style: solid;
    border-color: green;
}

#width{
    width:30%;
}

#width2{
    width:70%;
}